@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    outline: 0;

    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: italic;

    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

:root {

    /* Light Mode */
    --clr-primary: white;
    --clr-secondary: rgb(46, 45, 45);
    --clr-bg: rgba(46, 46, 255, 0.123);
    
    /* Dark Mode */
    --clr-primary: rgb(46, 45, 45);
    --clr-secondary: white;
    --clr-bg: rgb(19, 19, 22);
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
}

body {
    font-family: 'Poppins';

    background-color: var(--clr-bg);
    color: var(--clr-secondary);

    display: grid;
    place-items: center;

    padding: 2rem 0;
}

.hide, .hide > * {
    display: none !important;
}

.sections {
    display: grid;
    place-items: center;
    align-content: center;

    text-align: center;

    min-height: 95vh;
    width: 80%;

    scroll-snap-align: center;
    scroll-snap-stop: always;

    padding: 1rem;
}

.odd-order-border {
    border-top: 2px solid var(--clr-secondary);
    border-right: 2px solid var(--clr-secondary);
}
.even-order-border {
    border-top: 2px solid var(--clr-secondary);
    border-left: 2px solid var(--clr-secondary);
}

.sections:nth-of-type(4) {
    border-bottom: 2px solid var(--clr-secondary);
}

.content > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-secondary);
}

.features-list {
    display: grid !important;
}

.hidden > * {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(2px);
    transform: translate(-80%);
}

.appear > * {
    opacity: 1;
    filter: blur(0);
    transform: translate(0%);
}

#user-content {
    display: flex;
    justify-content: space-evenly;
    width: 90%;

    flex-wrap: wrap;

    /* gap: 3rem; */
}

.person-holder {
    min-width: 15rem;
    height: 15rem;

    padding: 1rem;

    border-radius: 1.5rem;
    margin: 3rem 0.5rem;

    border: 1px solid rgb(46, 45, 45);

    background-color: var(--clr-primary);

    display: flex;
    align-items: center;

    justify-content: center;

    overflow: hidden;

    cursor: move;
}

.info {
    display: flex;
    gap: 0.5rem; 
    line-height: 2.2rem;
}

.user-info {
    padding: 1rem;
}

.title {
    text-decoration: underline;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.person-holder > img {
    width: 200px;
}

.person-holder:nth-child(2) {
    transition-delay: 200ms;
}
.person-holder:nth-child(3) {
    transition-delay: 400ms;
}
.person-holder:nth-child(4) {
    transition-delay: 600ms;
}

@media(prefers-reduced-motion) {
    .hidden {
        transform: none;
    }
}

@media only screen and (min-width: 900px) {
    .person-holder:hover img {
        transition-delay: 0ms !important;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 900px) {
    #user-content {
        gap: 3rem;
    }
    
    .person-holder {
        min-width: 5rem !important;
        height: fit-content;

        overflow: none;
        margin: auto;

        display: flex;
        flex-wrap: wrap;
    }

    .user-info {
        font-size: smaller;
    }

    .person-holder > img {
        width: 100px;
    }
}

.scrollOption {
    width: 2rem;
    height: 4rem;

    position: sticky;
    bottom: 0;
}

.arrowUp {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollIcon {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    flex-wrap: wrap;

    
    border-radius: 1rem;
    
    cursor: pointer;
}

.mouse-icon {
    height: 90%;
    width: 100%;

    background-color: var(--clr-primary);

    border: 2px solid var(--clr-secondary);

    border-radius: 1rem;

    padding: 15% 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mouse-wheel {
    height: 30%;
    width: 10%;

    background-color: var(--clr-secondary);

    border-radius: 2px;
}

.highlight {
    animation: focus-bounce 1.8s ease-in 3s infinite;
}

@keyframes focus-bounce {
    10% {
        transform: translateY(-4px);
    }
    20% {
        transform: translateY(-3px);
    }
    30% {
        transform: translateY(-8px);
    }
}

.block {
    display: block !important;
}

.click-me {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);

    padding: 2px;
    margin: 1rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0;

    z-index: 1;
}

.person-tag {
    position: absolute;
    top: 0;
    left: 0;

    margin: 1.2rem -2rem;
    padding: 0 1.8rem;

    width: 8rem;

    background-color: yellow;
    color: rgb(46, 45, 45);

    transform: rotate(-45deg);
}

#theme {
    position: fixed;
    top: 0;
    right: 0;

    width: 3.6rem;
    height: 1.9rem;

    border-radius: 1rem;

    background-color: var(--clr-secondary);

    margin: 1rem;
    padding: 0.2rem;

    display: flex;
    overflow: hidden;

    cursor: pointer;
    
    z-index: 1;
}

.to-right > * {
    transform: translateX(100%);
}

.theme-value {
    width: 50%;
    height: 100%;

    border-radius: 1rem;
    
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .4s;
    -webkit-transition: .4s;

    z-index: 2;
}